.home-container{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.greetings h2{
    padding: 20px;
    /* text-align: center; */
    font-size: 20px;
    font-weight: bold;
    color: #6366f1;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.greetings span{
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #374151;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
.card{
    padding: 20px;
    background-color:rgba(120, 50, 200, 128);
    color: #ffffff;
    border-radius: 10px;
    width: 20%;
    height: 20%;
}